body{
    background-color: rgb(118, 206, 212);
    font-family: Helvetica, sans-serif;
}

p{
    color: white;
}
h1{
    color: white;

}

h2{
    color: white;
}

button{
    font-family: monospace;
    background-color: rgb(100, 49, 115);
    color: white;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
button:hover{
    background-color: rgb(125, 91, 166);
    cursor: pointer;
    transform: scale(1.1); /* Agranda el botón un 10% */
    
}
label {
    font-family: Helvetica, sans-serif; /* Cambia la familia de fuentes */
    font-size: 16px; /* Cambia el tamaño de la fuente */
    color: white; /* Cambia el color del texto */
    font-weight: bold; /* Cambia el grosor del texto */
    margin-bottom: 5px; /* Añade espacio debajo de las etiquetas */
    margin-top: 5px;
    display: block; /* Asegura que las etiquetas estén en una nueva línea */
}

input{
    margin-bottom: 10px;
}

#upper-to-bottom{
    margin-top: 10%;
    margin-bottom: 5em;
    margin-left: 3%;
}

#habilidades { 
    position: relative;
    width: 45%; 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    margin: 10px;
    text-align: left; 
} 
.habilidad { 
    margin-bottom: 15px; 
    position: relative; 
} 
.habilidad span { 
    display: block; 
    margin-bottom: 10px;
    margin-top: 40px; 
    font-weight: bold; 
    font-size: 14px; } 
.barra-progreso { 
    position: absolute; 
    left: 3%; 
    width: 100%; 
    background-color: #e0e0e0; 
    border-radius: 15px; 
    overflow: hidden; 
    height: 15px;
} 
.progreso { 
    height: 100%; 
    background-color: #3498db; 
    border-radius: 15px; 
    transition: width 1s ease-in-out; 

}

.habilidad-texto{
    color: white;
}

.formulario{
    margin-top: 10%;
    margin-left: 3em;
    
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;

}
.formulario-contacto button{
    margin-top: auto;
}

.formulario-contacto label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-contacto button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contacto button:hover {
    background-color: #2c3e50;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}